<div class="top">
    <h1 class='headline' style = 'text-align:right'></h1>
    <h2 class='subhead' style = 'text-align:center; color:white'></h2>
    <p></p>
    <p class='byline' style = 'text-align:right'></p>
    <p class='date' style = 'text-align:right'></p>
</div>
{{!-- <div class="header">
    <p class="kicker">{{ kicker }}</p>
    <h1 class="headline">{{ headline }}</h1>
    <h2 class="subhead">{{ subhead }}</h2>
    <p class="byline">
        {{#if author.url }}
            <a href="{{ author.url }}">{{ author.name }}</a>
        {{else}}
            {{ author.name }}
        {{/if}}
    </p>

    <p class="date">Published {{ published_date }}</p>
</div> --}}
