<div class='top'>
    <h1 class='headline position' >#MeToo In China</h1>
    <div class='story-body'>
    <p class='byline text-position' >By <a href="https://github.com/mingligraphics" style = 'color:white'><u>Ming Li</u></a>, <a href="https://github.com/dyncdyn" style = 'color:white'></a><u>Yinan Dong</u> and <a href="https://github.com/akarki1984" style = 'color:white'></a><u>Arun Karki</u></p>
    <p class='date text-position'>PUBLISHED DECEMBER 14, 2019</p>   
    </div>
</div>
    <div class='story-body'>
        <br>
    <p class ='body-text' style='color: white'>DISCLAIMER: ALL THE PICTURES IN THIS PORJECT ARE FROM THE INTERNET.</p>

    <p class ='body-text' style='color: white'>In 2018, 152 people, mostly women, from all over China chose to speak up and report those who had sexual assaulting him or her. Altogether 54 preptrators were revealed. It was known as the Chinese version of the global MeToo Movement.</p>
    <p class ='body-text' style='color: white'>This project aims to document what happened, who were the preptrators and more importantly, the courageous individuals who stood up and became a power in changing social conceptions and even legislations.</p>
    <p style='color: white'></p>
    </div>

{{!-- </div> --}}
{{!-- <div class="header">
    <p class="kicker">{{ kicker }}</p>
    <h1 class="headline">{{ headline }}</h1>
    <h2 class="subhead">{{ subhead }}</h2>
    <p class="byline">
        {{#if author.url }}
            <a href="{{ author.url }}">{{ author.name }}</a>
        {{else}}
            {{ author.name }}
        {{/if}}
    </p>

    <p class="date">Published {{ published_date }}</p>
</div> --}}
