<div class='top'></div>
<div class='middle'>
    <h1 class='headline' style = 'text-align:center; color: white'>#MeToo In China</h1>
    <h2 class='subhead' style = 'text-align:center; color:white'></h2>
    <p></p>
    <p class='byline' style = 'text-align:center; color: white'>By Ming Li, Dong Yinan and Arun Karki</p>
    <p class='date' style = 'text-align:center; color: white'>PUBLISHED DECEMBER 14, 2019</p>
    <div class='story-body'>
    <p style='color: white'>In early 2018, Chen Xiaowu, a Chinese professor from Beihang University, was reported by one of his former students for sexual harrassing female students for decades. Later on, the univeristy removed Chen from his teaching position. and this marked the very begining of China's MeToo Movement.</p>
    <p style='color: white'> Afterwards, other Chinese women spoke out about sexual misconduct by men in positions of power. The movement has spread beyond campuses and brought down a number of prominent figures across multiple industries. In July 2018, the NGO world had its #MeToo moment when Léi Chuǎng 雷闯, founder of a major charity dedicated to eliminating discrimination against people with hepatitis B, admitted to and apologized for sexually assaulting a woman. In the same month, a 17-year-old female athlete came forward with allegations of sexual assault against Liu Jianjun 刘坚军 and Zhang Wei 张伟, two well-known badminton coaches from Zhejiang Province. Shì Xuéchéng 释学诚, the abbot of Beijing’s Longquan Temple and one of China’s highest-ranking monks, was removed from his post amid allegations of sexual assault.</p>
    </div>
</div>
{{!-- </div> --}}
{{!-- <div class="header">
    <p class="kicker">{{ kicker }}</p>
    <h1 class="headline">{{ headline }}</h1>
    <h2 class="subhead">{{ subhead }}</h2>
    <p class="byline">
        {{#if author.url }}
            <a href="{{ author.url }}">{{ author.name }}</a>
        {{else}}
            {{ author.name }}
        {{/if}}
    </p>

    <p class="date">Published {{ published_date }}</p>
</div> --}}
